node_modules/
.turbo/
dist/
coverage/
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.hypothesis/
.tox/
.nox/
.venv/
venv/
.python_packages/
.tmp/
.python-version
.coverage
.coverage.*
htmlcov/
build/
site/
pip-wheel-metadata/
*.egg-info/
*.pyc
*.pyo
*.pyd
.env
.env.local
pnpm-lock.yaml
uv.lock
