LEITESOL_API_SERVICE_NAME=leitesol-api
LEITESOL_API_API_VERSION=v1
LEITESOL_API_ENVIRONMENT=development
LEITESOL_API_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
LEITESOL_API_ALLOWED_HOSTS=localhost,127.0.0.1,api
LEITESOL_API_API_KEY=
